<section class="bm-drawer__infos">
  <mat-form-field class="bm-drawer__project-input">
    <input placeholder="项目名" matInput [formControl]="projectFormControl" [errorStateMatcher]="matcher" [matAutocomplete]="auto" #projectInput />
    <mat-error *ngIf="projectFormControl.hasError('required')">
      必须提供项目名
    </mat-error>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="sync($event.option.value)">
      <mat-option *ngFor="let project of filteredProjects | async" [value]="project">
        {{ project }}
        <span class="icon-wrapper" (click)="delete($event, project)">
          <fa-icon [icon]="faTimes"></fa-icon>
        </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="bm-drawer__weekStart-input">
    <input matInput placeholder="起点周数" [formControl]="weekStartFormControl" [errorStateMatcher]="matcher" />
    <mat-error *ngIf="weekStartFormControl.hasError('pattern') && !weekStartFormControl.hasError('required')">
      日期格式必须为yyyy-KWww
    </mat-error>
    <mat-error *ngIf="weekStartFormControl.hasError('required')">
      必须提供一个起点
    </mat-error>
  </mat-form-field>

  <mat-form-field class="bm-drawer__weekEnd-input">
    <input matInput placeholder="终点周数" [formControl]="weekEndFormControl" [errorStateMatcher]="matcher" />
    <mat-error *ngIf="weekEndFormControl.hasError('pattern') && !weekEndFormControl.hasError('required')">
      日期格式必须为yyyy-KWww
    </mat-error>
    <mat-error *ngIf="weekEndFormControl.hasError('required')">
      必须提供一个终点
    </mat-error>
  </mat-form-field>
</section>

<section class="bm-drawer__terminplan">
  <section class="bm-drawer__terminplan-currentKW">
    <mat-slide-toggle class="bm-drawer__dualPVS" color="primary" (change)="isDualPVS = $event.checked">
      这个项目分为PVS1和PVS2
    </mat-slide-toggle>
    <mat-form-field>
      <mat-label>当前周数</mat-label>
      <mat-select [(value)]="currentKW">
        <mat-option *ngFor="let kw of totalKWs" [value]="kw">
          {{ kw }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ZP5 terminplan
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section class="bm-drawer__termins" [formGroup]="terminplanZP5">
        <mat-form-field class="bm-drawer__VFFTBT">
          <input matInput [placeholder]="isDualPVS ? 'PVS1 TBT' : 'VFF TBT'" formControlName="ZP5VFFTBT" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP5VFFTBT.hasError('pattern') && !ZP5VFFTBT.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP5VFFTBT.hasError('required')"> 必须提供{{ isDualPVS ? 'PVS1 TBT' : 'VFF TBT' }}时间 </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__VFF">
          <input matInput [placeholder]="isDualPVS ? 'PVS1' : 'VFF'" formControlName="ZP5VFF" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP5VFF.hasError('pattern') && !ZP5VFF.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP5VFF.hasError('required')"> 必须提供{{ isDualPVS ? 'PVS1' : 'VFF' }}时间 </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__PVSTBT">
          <input matInput [placeholder]="isDualPVS ? 'PVS2 TBT' : 'PVS TBT'" formControlName="ZP5PVSTBT" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP5PVSTBT.hasError('pattern') && !ZP5PVSTBT.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP5PVSTBT.hasError('required')"> 必须提供{{ isDualPVS ? 'PVS2 TBT' : 'PVS TBT' }}时间 </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__PVS">
          <input matInput [placeholder]="isDualPVS ? 'PVS2' : 'PVS'" formControlName="ZP5PVS" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP5PVS.hasError('pattern') && !ZP5PVS.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP5PVS.hasError('required')"> 必须提供{{ isDualPVS ? 'PVS2' : 'PVS' }}时间 </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__OSTBT">
          <input matInput placeholder="OS TBT" formControlName="ZP5OSTBT" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP5OSTBT.hasError('pattern') && !ZP5OSTBT.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP5OSTBT.hasError('required')">
            必须提供OS TBT时间
          </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__OS">
          <input matInput placeholder="OS" formControlName="ZP5OS" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP5OS.hasError('pattern') && !ZP5OS.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP5OS.hasError('required')">
            必须提供OS时间
          </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__SOPTBT">
          <input matInput placeholder="SOP TBT" formControlName="ZP5SOPTBT" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP5SOPTBT.hasError('pattern') && !ZP5SOPTBT.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP5SOPTBT.hasError('required')">
            必须提供SOP TBT时间
          </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__SOP">
          <input matInput placeholder="SOP" formControlName="ZP5SOP" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP5SOP.hasError('pattern') && !ZP5SOP.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP5SOP.hasError('required')">
            必须提供SOP时间
          </mat-error>
        </mat-form-field>
      </section>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ZP7 terminplan
        </mat-panel-title>
      </mat-expansion-panel-header>
      <section class="bm-drawer__termins" [formGroup]="terminplanZP7">
        <mat-form-field class="bm-drawer__VFFTBT">
          <input matInput [placeholder]="isDualPVS ? 'PVS1 TBT' : 'VFF TBT'" formControlName="ZP7VFFTBT" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP7VFFTBT.hasError('pattern') && !ZP7VFFTBT.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP7VFFTBT.hasError('required')"> 必须提供{{ isDualPVS ? 'PVS1 TBT' : 'VFF TBT' }}时间 </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__VFF">
          <input matInput [placeholder]="isDualPVS ? 'PVS1' : 'VFF'" formControlName="ZP7VFF" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP7VFF.hasError('pattern') && !ZP7VFF.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP7VFF.hasError('required')"> 必须提供{{ isDualPVS ? 'PVS1' : 'VFF' }}时间 </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__PVSTBT">
          <input matInput [placeholder]="isDualPVS ? 'PVS2 TBT' : 'PVS TBT'" formControlName="ZP7PVSTBT" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP7PVSTBT.hasError('pattern') && !ZP7PVSTBT.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP7PVSTBT.hasError('required')"> 必须提供{{ isDualPVS ? 'PVS2 TBT' : 'PVS TBT' }}时间 </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__PVS">
          <input matInput [placeholder]="isDualPVS ? 'PVS2' : 'PVS'" formControlName="ZP7PVS" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP7PVS.hasError('pattern') && !ZP7PVS.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP7PVS.hasError('required')"> 必须提供{{ isDualPVS ? 'PVS2' : 'PVS' }}时间 </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__OSTBT">
          <input matInput placeholder="OS TBT" formControlName="ZP7OSTBT" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP7OSTBT.hasError('pattern') && !ZP7OSTBT.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP7OSTBT.hasError('required')">
            必须提供OS TBT时间
          </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__OS">
          <input matInput placeholder="OS" formControlName="ZP7OS" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP7OS.hasError('pattern') && !ZP7OS.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP7OS.hasError('required')">
            必须提供OS时间
          </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__SOPTBT">
          <input matInput placeholder="SOP TBT" formControlName="ZP7SOPTBT" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP7SOPTBT.hasError('pattern') && !ZP7SOPTBT.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP7SOPTBT.hasError('required')">
            必须提供SOP TBT时间
          </mat-error>
        </mat-form-field>
        <mat-form-field class="bm-drawer__SOP">
          <input matInput placeholder="SOP" formControlName="ZP7SOP" [errorStateMatcher]="matcher" />
          <mat-error *ngIf="ZP7SOP.hasError('pattern') && !ZP7SOP.hasError('required')">
            日期格式必须为yyyy-KWww
          </mat-error>
          <mat-error *ngIf="ZP7SOP.hasError('required')">
            必须提供SOP时间
          </mat-error>
        </mat-form-field>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<section class="bm-drawer__filePicker">
  <div>
    <input id="file-picker" type="file" accept=".xlsx, .xls, .xlsm" (change)="test(fileInput)" #fileInput />
    <label for="file-picker">
      <a mat-raised-button color="primary">选择母表</a>
      <span>{{ fileName }}</span>
    </label>
  </div>
</section>

<section class="bm-drawer__controls">
  <button
    mat-raised-button
    color="primary"
    [disabled]="projectFormControl.invalid || weekStartFormControl.invalid || weekEndFormControl.invalid || terminplanZP5.invalid || terminplanZP7.invalid"
    id="save-button2"
  >
    保存
  </button>
  <button mat-raised-button color="accent" (click)="reset()">
    重置
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="
      projectFormControl.invalid ||
      weekStartFormControl.invalid ||
      weekEndFormControl.invalid ||
      terminplanZP5.invalid ||
      terminplanZP7.invalid ||
      isDrawing ||
      !filePath ||
      !currentKW
    "
    id="draw-button"
    (click)="draw()"
  >
    画图
  </button>
</section>
