:host {
  display: block;
  margin: 1em auto;
  width: 95%;
}

.bm-drawer__infos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.bm-drawer__project-input,
.bm-drawer__weekStart-input,
.bm-drawer__weekEnd-input {
  width: 30%;
  flex: 1 1 auto;
  margin-right: 0.5rem;
}
.bm-drawer__weekEnd-input {
  margin-right: 0;
}
mat-option {
  position: relative;
}
.icon-wrapper {
  position: absolute;
  right: 1em;
}
.icon-wrapper:hover fa-icon {
  color: red;
}

.bm-drawer__terminplan-currentKW {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.bm-drawer__termins {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  mat-form-field {
    flex: 0 0 45%;
  }
}

.bm-drawer__prognose {
  display: flex;
  flex-flow: column nowrap;

  & > mat-form-field {
    width: 40%;
  }
}
.bm-drawer__prognose__detail {
  display: flex;
  flex-flow: row wrap;

  & > mat-form-field {
    display: inline-block;
    margin-right: 1rem;
  }
}

.bm-drawer__filePicker {
  margin-bottom: 1rem;

  span {
    padding-left: 1rem;
  }
}
/*input*/
[type='file'] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.bm-drawer__controls {
  display: flex;
  flex-flow: row;
}
#save-button2 {
  margin-right: 1rem;
}
#draw-button {
  margin-left: auto;
}

mat-accordion {
  display: block;
  margin-bottom: 1rem;
}
