:host {
  display: block;
  margin: 1em auto;
  width: 95%;
}

.bm-merge__infos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.bm-merge__project-input,
.bm-merge__date-input {
  flex: 1 0 180px;
  margin-right: 1em;
}
#save-button {
  display: block;
  padding: 0 1em;
}
mat-option {
  position: relative;
}
.icon-wrapper {
  position: absolute;
  right: 1em;
}
.icon-wrapper:hover fa-icon {
  color: red;
}

.bm-merge__path-input {
  min-width: 180px;
  width: 100%;
}

.bm-merge__buttons {
  padding-bottom: 20px;
  display: flex;
  align-items: center;

  button {
    margin-right: 1rem;
  }
}
mat-progress-spinner {
  display: inline-block;
  margin-left: 1em;
}
.progress-info {
  margin: 0;
  margin-left: 1em;
}

.bm-merge__filelist {
  display: flex;
  flex-flow: column nowrap;
}

mat-checkbox span {
  font-size: 0.8em;
  font-family: monospace;
  color: white;
  border-radius: 0.5em;
  padding: 0.2em 0.6em;
}

span.MQPL {
  background-color: #f4511e;
}

span.TIPS {
  background-color: #6d4c41;
}

span.QPNI {
  background-color: #546e7a;
}
